@model PeopleProTraining.Dal.Models.Employee

@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

@{
    ViewBag.Title = "Index";
}

<h2>FLPeoplePro</h2>


<h3>Welcome!</h3>

<p>This site is for...</p>



<div>
    @Html.ActionLink("List of employees", "Index", "Employees")<br />
    @Html.ActionLink("List of departments", "Index", "Departments")<br />
    @Html.ActionLink("List of buildings", "Index", "Buildings")<br />
    @Html.ActionLink("Test", "Index", "tempController")   <br />
    @Html.ActionLink("EmployeesTest/Index", "Index", "EmployeesTest")
</div>

<!--get help from Garret or Ricky  -->